body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Oxygen", sans-serif;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
}

.container {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;

  .content_item {
    position: absolute;
    width: 60vw;
    margin: 2rem;
    transition: top 2s;

    .content_title {
      color: rgb(255, 255, 255);
      font-size: 8rem;
      font-weight: 700;
    }

    .content_p {
      color: white;
      margin-top: 3rem;
      font-weight: 0;
    }

    .img {
      margin-top: 8rem;
      margin-left: 6rem;
      height: 20rem;
      width: 20rem;
      background-image: url("img/fusee.png");
      background-size: cover;
      filter: invert(100%);
    }
  }
  .home {
    top: 0%;
  }
  .projects {
    top: 100%;
  }
  .about {
    top: 200%;
  }
  .contact {
    top: 300%;
  }

  .menu_line {
    position: fixed;
    background-color: rgb(255, 255, 255);
    right: 0.5rem;
    width: 0.2rem;
    height: 50vh;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    transition: 1s;
    box-shadow: 0px 0px 32px 0px rgba(255, 255, 255, 0.5);
  }
  .menu_line2 {
    position: fixed;
    background-color: rgb(255, 255, 255);
    right: 0.9rem;
    width: 0.2rem;
    height: 40vh;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    transition: 1s;
    box-shadow: 0px 0px 32px 0px rgba(255, 255, 255, 0.5);
  }
  .selected_title_body {
    color: white;
    z-index: -2;
    position: absolute;
    transition: opacity 0.2s, right 1s;
    right: 0;
    top: 50%;
    font-size: 5rem;
    transform: translate(50%, -50%);
    text-transform: uppercase;
    pointer-events: none;
    letter-spacing: 1rem;
    font-weight: 700;
  }
  .menu {
    font-weight: 700;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 0;
    color: rgb(56, 56, 56);
    background-color: lightblue;
    transition: 1s;
    overflow: hidden;
    white-space: nowrap;

    .selected_title_menu {
      position: absolute;
      top: 50%;
      font-size: 5rem;
      transition: 0.2s;
      color: rgba(114, 114, 114, 0.205);
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      pointer-events: none;
      letter-spacing: 1rem;
    }

    .menu_item {
      z-index: 10;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      height: 3.5rem;
      margin-top: 1.3rem;
      margin-bottom: 1.3rem;
      font-size: 1.3rem;
      padding: 1rem;
      transition: 0.8s;
      cursor: pointer;
      letter-spacing: 0.4rem;
    }

    .menu_item:hover {
      color: rgba(255, 255, 255, 0.733);
      letter-spacing: 0.5rem;
      font-size: 1.4rem;
    }

    .item_handler {
      transition: 0.5s;
    }
  }
}
